{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Educature Education</title>

    <!--
			Google Font
			============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main1.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->
    <title>Python</title>
    <style>
        .arrow-link {
            padding-left: 26px;
            background: url(/sites/all/themes/docker/assets/images/icons/cta-arrow.svg) left top no-repeat;
            background-size: 22px;
            font-weight: 500;
        }

        .featured-card-section .card-wrap .image-wrap {
            background-size: cover;
            background-position: center;
            width: 245px;
            position: relative;
            margin-right: 100px;
            -webkit-box-flex: 0;
            -ms-flex-positive: 0;
            flex-grow: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
        }

        .box {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            transition: box-shadow 0.3s ease-in-out;

        }

        .box:hover {

            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

        }

        .column {

            float: left;
            width: 25%;
            padding: 0 10px;
            /* width: 18rem; */

        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        @media screen and (max-width: 600px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }

        @media only screen and (max-width: 800px) {
            #nav-menu-container {}
        }
    </style>
    <script>

        var temp1 = "{{ user.username }}";

        sessionStorage.setItem('name', temp1);


        if (sessionStorage.getItem("name") != null) {


            var userId = sessionStorage.getItem("name");

        }


        function logout() {

            // sessionStorage.clear();
            // window.location.href = 'new';
            document.getElementById("temp").innerHTML = " ";


        }

    </script>

</head>

<body>
    <!-- Header Area -->
    <header id="header relative" class=" home-banner-area  row align-items-center justify-content-between d-flex">
        <div class="container ">
            <div class="row align-items-center justify-content-between d-flex ">
                <div id="logo">
                    <a href="{% url 'home1' %}">
                        <img src="{% static 'img/logo.png' %}" alt="" title="" />
                    </a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{% url 'home1' %}">Home</a></li>
                        <li class="menu-active"><a href="{% url 'aboutus' %}">About</a></li>
                        <li class="menu-active"><a href="{% provider_login_url "google" %}">login</a>
                        </li>
                        <li class="menu-active"><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- <div id="temp"></div>
        <script>
            document.getElementById("temp").innerHTML = "Welcome " + sessionStorage.getItem("name");
        </script> -->


        <!-- <p><button onclick='logout()'>Log out</button></p> -->

        {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}</p>
        <!-- <p><a href="{% url 'auth_social' %}">Log out</a></p> -->
        <form method="post" action="/accounts/logout/">
            <input type="hidden" name="csrfmiddlewaretoken"
                value="CjRr3zrzNz30mRWCbyL1DFGLp7JaVG1PM2nxekAG2apb23AY3ODlqezK8tcspzKT">

            <button type="submit">Logout</button>
        </form>


        {% endif %}






    </header>
    <!-- Header Ends -->
    <!-- Start Banner Area -->
    <section class="home-banner-area relative">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8 col-md-12">
                    <h1 class="wow fadeIn" data-wow-duration="4s"><br></h1>


                    <div class="input-wrap">
                        <form action="/amar/external/" method="post" class="form-box d-flex justify-content-between"
                            id="myform" name="myform">
                            <script> function moveNumbers(text) {
                                    var txt = document.getElementById("result").value;
                                    txt = txt + text;
                                    document.getElementById("result").value = txt;


                                }
                                function clear() {
                                    document.getElementById('myform').reset();

                                }




                            </script>

                            <input type="text" class="form-control" name="search" id="result">

                            <button type="submit" onclick="myFunction();clear();" class="btn search-btn"
                                name="form">Search</button>
                    </div>


                    <div class="courses pt-20 " id="myDiv">
                        <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                            class="primary-btn transparent mr-10 mb-10 wow fadeInDown" value="data science"
                            onclick="moveNumbers(this.value);clear();">data Science</button>
                        <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                            class="primary-btn transparent mr-10 mb-10 wow fadeInDown" value="python programming"
                            onclick="moveNumbers(this.value);clear();">Python programming</button>
                        <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                            class="primary-btn transparent mr-10 mb-10 wow fadeInDown" value="artificial intelligence"
                            onclick="moveNumbers(this.value);clear();">Artificial Intelligence</button>
                        <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                            class="primary-btn transparent mr-10 mb-10 wow fadeInDown" value="machine learning"
                            onclick="moveNumbers(this.value);clear();">Machine Learning</button>
                        <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                            class="primary-btn transparent mr-10 mb-10 wow fadeInDown"
                            value="Natural Language Processing" onclick="moveNumbers(this.value);clear();">Natural
                            Language Processing</button>
                    </div>


                    {% for n1 in rel_words %}

                    <button type="submit" data-wow-duration="1s" data-wow-delay=".3s"
                        class="primary-btn transparent mr-10 mb-10 wow fadeInDown" value="{{n1}}"
                        onclick="moveNumbers(this.value);clear();">{{n1}}</button>

                    {% endfor %}


                    </form>


                    <h4 class="text-white"></h4>
                </div>
            </div>
        </div>

    </section>

    <!-- card demo -->



    <div class="container">

        <h4>{{med1}}</h4>
        <h6>{{med_len}}</h6>

        <br>
    </div>


    {% for n1,n2,n3 in zip_data %}
    <div class="container">
        <div class="row">
            <div>
                <div class="card">
                    <div class=" box">
                        <div>
                            <div>
                                <img class="card-img-top" src="{% static 'img/Medium.png' %}"
                                    style="width:180px; height: 180px; align-content: center" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body  ">

                                    <h5 class="lim" style="font-family:poppins">{{n1}}</h5>
                                    <span style="color: grey">{{search}}</span>
                                    <div class="c"><span class="badge badge-info">{{search}}</span></div>



                                    <div class="card-text "><a class="arrow-link" href=" {{n2}}">

                                            &#8594;Go to Link</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                                        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
                                        <img src="{% static 'img/clap.png' %}" width="42" height="42" align="middle">
                                        {{n3}}

                                        <!-- <div align='right'><img src="{% static 'img/clap.png' %}" width="42" height="42"
                                        align="middle"> {{n3}}
                                </div> -->
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr />
    {% endfor %}
    <!-- <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->

    <!-- Youtube  -->
    <div class="container">
        <h4>{{you1}}</h4>
        <h6>{{you_len}}</h6>
        <hr>
        <br>
    </div>
    {% for n1,n2 in zip_data1 %}
    <br />
    <div class="container">
        <div class="card mb-3  bg-white text-black">
            <div class="box">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/download3.png' %}" style="width: 180px" alt="...">
                    </div>
                    <div class="col-md-8">

                        <div class="card-body">

                            <h5 class="card-title" style="font-family:poppins">{{n1}}</h5>
                            <span style="color: grey">{{search}}</span>
                            <div class="c"><span class="badge badge-info">{{search}}</span></span></div>
                            <br>

                            <p class="card-text"><a class="arrow-link" href=" {{n2}}">
                                    &#8594;Go to Link</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr />
    {% endfor %}

    <!-- <div class="container">
        <h4>{{you1}}</h4>
        <h6>{{you_len}}</h6>
        <hr>
        <br>
    </div>
    {% for n1,n2 in zip_data1 %}
    <br />
    <div class="container">
        <div class="card mb-3  bg-white text-black shadow p-3 mb-5 bg-white rounded">
            <div class="row no-gutters">
                <div class="col-md-4" style=" width: 200px; height: 200px;">
                    <img src="{% static 'img/download3.png' %}"
                        style="width:200px; height: 200px; align-content: center" alt="...">
                </div>
                <div class="col-md-8">

                    <div class="card-body">

                        <h5 class="card-title">{{n1}}</h5>
                        <span class="badge badge-pill badge-primary">{{search}}</span>

                        <p class="card-text"><a href="{{n2}}">Go to Link
                            </a>


                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr />
    {% endfor %} -->

    <!-- Code with papers -->
    <div class="container">
        <h4>{{cop3}}</h4>
        <h6>{{cop_len}}</h6>
        <hr>
        <br>
    </div>
    {% for n1,n2,n3 in zip_data2 %}
    <br />
    <div class="container">
        <div class="card mb-3  bg-white text-black">
            <div class="box">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/download1.jpg' %}"
                            style="width:200px; height: 200px; align-content: center" alt="...">
                    </div>
                    <div class="col-md-8">

                        <div class="card-body">

                            <!-- <p id="demo"></p> -->


                            <h5 class="card-title" style="font-family:poppins">{{n1}}</h5>
                            <span style="color: grey">{{search}}</span>
                            <div class="c"><span class="badge badge-info">{{search}}</span></div>
                            <p>{{n2}}</p>


                            <p class="card-text"><a class="arrow-link" href=" {{n3}}">&#8594;Go to Link
                                </a>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr />
    {% endfor %}

    <!-- Github -->

    <div class="container">
        <h2>{{git0}}</h2>
        <h6>{{repos_len}}</h6>

        <hr>
        <br>
    </div>
    {% for n1,n2,n3 in zip_data3 %}
    <br />
    <div class="container">
        <div class="card mb-3  bg-white text-black">
            <div class="box">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/download.png' %}" class="card-img"
                            style="width:200px; height: 200px; align-content: center" alt="">
                    </div>
                    <div class="col-md-8">

                        <div class="card-body">

                            <h5 class="card-title" style="font-family:poppins">{{n1}}</h5>
                            <span style="color:gray">{{search}}</span>
                            <div class="c"><span class="badge badge-info">{{search}}</span></div>
                            <br />
                            <p class="card-text"><a class="arrow-link" href=" {{n2}}">&#8594;Go to Link
                                </a>
                                <p><img src="{% static 'img/star-full-icon.png' %}" width="18" height="18"
                                        align="middle"> {{n3}}
                                </p>



                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <hr />
    {% endfor %}



    <!-- card demo end -->


    <!-- Start Footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>
                        <li><a href="#">Managed Website</a></li>
                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <p>You can trust us. we only send promo offers,</p>



                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="form-inline">
                            <input class="form-control" name="EMAIL" placeholder="Your Email Address"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
                                required="" type="email">
                            <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>

    </footer>
    <!-- End Footer Area -->

    <!-- ####################### Start Scroll to Top Area ####################### -->


    <div id="back-top">
        <a title="Go to Top" href="#"></a>
    </div>








</body>

</html>